asgiref==3.5.0
blinker==1.4
brotli==1.0.9
ConfigParser==5.2.0
cryptography==36.0.2
Cython==0.29.28
dl==0.1.0
docutils==0.18.1
HTMLParser==0.0.2
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
lxml==4.8.0
numpy==1.22.2
ordereddict==1.1
protobuf==3.20.0
pyOpenSSL==22.0.0
pytest==7.1.1
python-dotenv==0.20.0
toml==0.10.2
tornado==6.1
typing_extensions==4.2.0
watchdog==2.1.7
xmlrpclib==1.0.1
