{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}

<div class="container-main">
    {% if g.user %}
    <div id="week-container" class="{{ firstdate }}">
        <div id="left-arrow">
            <button class="arrow-btn"><a href="{{ url_for('task.move_back_a_day', currentdate=firstdate) }}"><ion-icon name="caret-back-outline"></ion-icon></a></button>
        </div>
        <div class="day-col">
            <h3 class="day-of-week"></h3>
            <p class="date"></p>
            <div class="tasks">
            {% for task in tasks[0] %}
                <div class="task {{ 'task-done' if task.is_completed else '' }}">
                    <button type="submit" id="{{ task.id }}" class="task-done-btn" onclick="markTaskCompleted(this)">
                        <a href="{{ url_for('task.completed', id=task.id, currentdate=firstdate) }}">
                            <ion-icon name="{{ 'checkbox-outline' if task.is_completed else 'square-outline' }}"></ion-icon>
                        </a>
                    </button><span>{{ task.title }}</span><span class="tooltiptext">{{ task.comment }}</span>
                </div>
            {% endfor %}
            </div>
            <button class="add-todo" data-toggle="modal" data-target="#todo-form" onclick="fillDateField(this)"><ion-icon name="add-outline"></ion-icon></button>
        </div>
        <div class="day-col">
            <h3 class="day-of-week"></h3>
            <p class="date"></p>
            <div class="tasks">
                {% for task in tasks[1] %}
                <div class="task {{ 'task-done' if task.is_completed else '' }}">
                    <button type="submit" id="{{ task.id }}" class="task-done-btn" onclick="markTaskCompleted(this)">
                        <a href="{{ url_for('task.completed', id=task.id, currentdate=firstdate) }}">
                            <ion-icon name="{{ 'checkbox-outline' if task.is_completed else 'square-outline' }}"></ion-icon>
                        </a>
                    </button><span>{{ task.title }}</span><span class="tooltiptext">{{ task.comment }}</span>
                </div>
                {% endfor %}
            </div>
            <button class="add-todo" data-toggle="modal" data-target="#todo-form" onclick="fillDateField(this)"><ion-icon name="add-outline"></ion-icon></button>
        </div>
        <div class="day-col">
            <h3 class="day-of-week"></h3>
            <p class="date"></p>
            <div class="tasks">
                {% for task in tasks[2] %}
                <div class="task {{ 'task-done' if task.is_completed else '' }}">
                    <button type="submit" id="{{ task.id }}" class="task-done-btn" onclick="markTaskCompleted(this)">
                        <a href="{{ url_for('task.completed', id=task.id, currentdate=firstdate) }}">
                            <ion-icon name="{{ 'checkbox-outline' if task.is_completed else 'square-outline' }}"></ion-icon>
                        </a>
                    </button><span>{{ task.title }}</span><span class="tooltiptext">{{ task.comment }}</span>
                </div>
                {% endfor %}
            </div>
            <button class="add-todo" data-toggle="modal" data-target="#todo-form" onclick="fillDateField(this)"><ion-icon name="add-outline"></ion-icon></button>
        </div>
        <div class="day-col">
            <h3 class="day-of-week"></h3>
            <p class="date"></p>
            <div class="tasks">
                {% for task in tasks[3] %}
                <div class="task {{ 'task-done' if task.is_completed else '' }}">
                    <button type="submit" id="{{ task.id }}" class="task-done-btn" onclick="markTaskCompleted(this)">
                        <a href="{{ url_for('task.completed', id=task.id, currentdate=firstdate) }}">
                            <ion-icon name="{{ 'checkbox-outline' if task.is_completed else 'square-outline' }}"></ion-icon>
                        </a>
                    </button><span>{{ task.title }}</span><span class="tooltiptext">{{ task.comment }}</span>
                </div>
                {% endfor %}
            </div>
            <button class="add-todo" data-toggle="modal" data-target="#todo-form" onclick="fillDateField(this)"><ion-icon name="add-outline"></ion-icon></button>
        </div>
        <div class="day-col">
            <h3 class="day-of-week"></h3>
            <p class="date"></p>
            <div class="tasks">
                {% for task in tasks[4] %}
                <div class="task {{ 'task-done' if task.is_completed else '' }}">
                    <button type="submit" id="{{ task.id }}" class="task-done-btn" onclick="markTaskCompleted(this)">
                        <a href="{{ url_for('task.completed', id=task.id, currentdate=firstdate) }}">
                            <ion-icon name="{{ 'checkbox-outline' if task.is_completed else 'square-outline' }}"></ion-icon>
                        </a>
                    </button><span>{{ task.title }}</span><span class="tooltiptext">{{ task.comment }}</span>
                </div>
                {% endfor %}
            </div>
            <button class="add-todo" data-toggle="modal" data-target="#todo-form" onclick="fillDateField(this)"><ion-icon name="add-outline"></ion-icon></button>
        </div>
        <div id="right-arrow">
            <button class="arrow-btn"><a href="{{ url_for('task.move_forward_a_day', currentdate=firstdate) }}"><ion-icon name="caret-forward-outline"></ion-icon></a></button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="todo-form" tabindex="-1" role="dialog" aria-labelledby="todo-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="todo-form-title">Todo Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form id="task_creation_form" method="post">
                    <div>
                        <label for="due_date">Date</label><br/>
                        <input type="date" name="due_date" id="due_date" required>
                    </div>
                    <div>
                        <label for="title">Title</label><br/>
                        <input name="title" id="title" required>
                    </div>
                    <div>
                        <label for="comment">Comment</label><br/>
                        <textarea name="comment" id="comment"></textarea>
                    </div>
                    <div>
                        <label for="repeat">Repeat</label><br/>
                        <select data-placeholder="Repeat" name="repeat" multiple>
                            <option>None</option>
                            <option>Every day</option>
                            <option>Every week</option>
                            <option>Every month</option>
                            <option>Every year</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button onclick="submitTaskCreationForm()" type="submit" class="btn btn-primary" data-dismiss="modal">Add</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
    {% else %}
        <meta http-equiv="refresh" content="0; url = {{ url_for('auth.login') }}" />
    {% endif %}


</div>
{% endblock %}